.form__tag {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  color: #7A8F99;
  font-size: 12px;
}

.form__row {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  position: relative;
}

.form__row-space__between {
  justify-content: space-between;
  align-items: center;
}

.form__block {
  display: flex;
  width: 100%;
}

.form__input {
  padding: 20px 24px;
  font-size: 16px;
  background-color: #3d5171;
  color: white;
  border-radius: 4px;
  border: 1px solid #1C945D;
  outline: none;
}

.form__input:focus {
  border: 1px solid #1C945D;
}

.form__input:focus-visible {
  border: 1px solid #1C945D;
}

.form__input-error {
  border: 1px solid #E15433;
}

.error {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  min-width: 100%;
  height: 40px;
  background-color: #E15433;
  border-radius: 4px;
  padding: 8px 16px;
  color: white;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.form-field {
  width: 100%;
}


.form-field::placeholder {
  color: #7A8F99;
  font-size: 16px;

}

.form__checkbox-input {
  display: none;
}

.form__checkbox {
  display: flex;
  width: 32px;
//   position: relative;
}


.form__checkbox-text {
  margin-left: 16px;
  width: 392px;
  display: flex;
  justify-content: flex-end;
}

.form__checkbox-custom {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: #3d5171;
  cursor: pointer;
}

.form__checkbox-input:checked ~ .form__checkbox-custom  {
  background-color: #1C945D;
}


.form__buttons {
  width: 100%;
}

.title__currency {
  width: 33%;
  font-size: 12px;
}

.currency__list {
  display: flex;
}

.form__radio {
  display: none;
}

.form__radio-custom {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 40px;
  border-radius: 4px;
  background-color: #3d5171;
  border: 1px solid #3d5171;
}

.form__radio:checked + .form__radio-custom {
  border: 1px solid #1C945D;
  background-color: #212e3e;
}